

.box {
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.top {
    border-top: 6px solid white;
    height: calc(20vh - 6px);
}

.right{
    border-right: 6px solid white;
    width: calc(20vh - 6px);
}

.inside {
    font-size: 20vh;
}